body{
    background-color: #212121;
}
.card {
    width: 20rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


/* .card:hover {
    transform: scale(1.05);
} */

.card-image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 0.5rem ;
    /* border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; */
}

.card-content {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.card-text {
    color: #4b5563;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.learn-more-button {
    background-color: #3b82f6;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.learn-more-button:hover {
    background-color: #2563eb;
}
